@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


	/* ------------------*/
	/* General CSS Reset */
	/*-------------------*/
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	/* -------------------------- */
	/* Making basic style resets */
	/* ------------------------- */

	html {
		height: 100%;
	}

	body {
		min-height: 100%;
	}

	html {
		font-size: 62.5%;
		scroll-behavior: smooth;
		/* -webkit-tap-highlight-color: transparent; */
	}

	input:focus-visible {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	img {
		width: 100%;
		max-inline-size: 100%;
		max-width: unset;
	}

	button {
		outline: transparent;
	}

	/* Enabling theme transition */
	:where(html.theme-transition *) {
		transition: background-color 500ms ease-in-out;
	}

	body {
		font-size: 1.6rem;
		/* background-color: var(--color-body);
		color: var(--text-body); */
	}
}